@import "variables";
@import "mixins";

.excel__table {
    position: absolute;
    left: 0;
    right: 0;
    top: $header-height + $toolbar-height + $formula-height;
    overflow-x: scroll;
    .row-resize, .col-resize {
        position: absolute;
        background: transparent;
        &:hover {
            background: #3c74ff;
        }
    }
    .row-resize {
        bottom: 0;
        width: 100%;
        height: 4px;
        z-index: 10;
        &:hover {
            cursor: row-resize;
        }
     }
    .col-resize {
        top: 0;
        right: 0;
        width: 4px;
        height: 100%;
        z-index: 10;
        &:hover {
            cursor: col-resize;
        }
        &.col-resize-indicator {
            display: flex;
            flex-direction: column;
            &:after {
                content: "";
                top: $header-height + $toolbar-height + $formula-height + $row-height;
                width: 2px;
                height: 100vh;
                background: blue;
                display: block;
                position: fixed;
            }
        }
    }
    .row {
        display: flex;
        min-height: 20px;
        height: $row-height;

    }
    .row-info {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: $info-cell-width;
        border: solid 1px $border-color;
        background: #f8f9fa;
        border-top: none;

    }
    .row-data {
        display: flex;
    }
    .cell {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 40px;
        width: $cell-width;
        height: 100%;
        border: solid 1px #e2e3e3;
        border-top: none;
        border-left: none;
        outline: none;
        color: #111;
        white-space: nowrap;
        &.selected {
            border: none;
            outline: 2px solid #3c74ff;
            z-index: 2;
        }
    }
    .column {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 40px;
        width: $cell-width;
        border: solid 1px $border-color;
        border-top: none;
        border-left: none;
        background: #f8f9fa;
    }
}